html,
body {
  margin: 0;
  padding: 0;
  font: 40px courier;
  color: #FDFC83;
  text-align: center;
  background-color: #E55453;
}

/*
========================================
Used Color
#FDFC83
#982928
#E55453
#417698
#ff4e4e
#417698
#ff9a9a
#309AE5
========================================
*/


/*
========================================
                Postion
========================================
*/

#main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  margin: auto;
  padding-bottom: 1em;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 75%;
  min-width: 500px;
  background-color: #982928;
}

main {
  min-width: 700px;
  margin: 0 auto;
  position: relative;
}

input {
  margin-top: 20px;
  margin-bottom: 53.6px;
  text-align: center;
  font-size: 0.8em;
  color: #982928;
  font-weight: 900;
  background-color: #E55453;
  border: none;
}

#time {
  clear: both;
  margin-bottom: 1em;
}

#score {
  float: left;
  margin-left: 5%;
}

#life {
  float: right;
  margin-right: 5%;
}

#combo {
  position: absolute;
  transform: rotate(-20deg);
  transition: visibility 0s, opacity 0.2s linear;
  visibility: hidden;
  color: #309AE5;
}

button {
  position: relative;
  left: 212px;
  padding: 0.5em 1em;
  font-weight: 900;
  font-size: 0.5em;
  color: #982928;
  background-color: #E55453;
  border: 3px solid #ff9a9a;
  z-index: 100;
  display: none;
}

/*
========================================
                  Other
========================================
*/

#wordGenerated,
input,
button {
  font-family: monospace;
}

#wordGenerated {
  color: #ff4e4e;
}

input:focus {
  outline-color: #417698;
  cursor: none;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #ff9a9a;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ff9a9a;
  opacity: 1;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ff9a9a;
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ff9a9a;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ff9a9a;
}